---
import { Image } from 'astro:assets'
import MainLayout from 'src/layouts/MainLayout.astro'

import post05Img from '@images/post-05.png'
import { Picture } from 'astro:assets'
---

<MainLayout>
    <h1 class="text-5xl text-white">Imagenes</h1>

    <img loading="eager" src="/assets/images/post-05.png" width="250" , height="250" alt="iamgen" />

    <h1>Hi Quality</h1>
    <Image src={post05Img} width="250" quality="high" height="250" alt="iamgen" />
    <h1>Low Quality</h1>
    <Image src={post05Img} width="250" quality="low" height="250" alt="iamgen" />
    <h1>Jpg</h1>
    <Image src={post05Img} width="250" format="jpeg" height="250" alt="iamgen" />
    <h1>Picture</h1>
    <Picture src={post05Img} width="250" formats={['webp', 'avif', 'jpeg']} height="250" alt="iamgen" />

    <!-- formats={['webp', 'avif', 'jpeg', 'png']} -->
    <!-- widths={[240, 540, 720, post05Img.width]}
  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`} -->
    <!-- width={post05Img.width / 2}
  densities={[1.5, 2]} -->

    <h1>Picture</h1>
    <Picture src={post05Img} width={post05Img.width / 2} densities={[1.5, 2]} height="250" alt="iamgen" />

    <div
        style={{
            height: '3000px'
        }}>
    </div>

    <img loading="lazy" src="/assets/images/post-01.png" width="250" , height="250" />
</MainLayout>

<style>
    @reference "tailwindcss";
    h1 {
        @apply text-white;
    }
</style>
